body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#header {
    background-color: rgba(0, 0, 0, 0.285);
    padding: 20px 0;
    transition: all 0.3s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;    
}

#header.shrink {
    padding: 10px 0;
    background-color: #000;
}

#logo {
    height: 50px;
    width: auto;
    margin-left: 20px;
    background-color: white;
    border: 0.5px solid white;
    border-radius: 20%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
    color: white;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

#content {
    margin-top: 100px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

.caja {
    display: flex;
    flex-direction: column;
}

.caja h3 {
    font-size: 1rem;
    margin: 0;
    color: white;
}

.caja a {
    color: white;
    font-size: 0.9rem;
}