body {
    overflow: hidden;
}

#content {
    background-image: url(../img/background-forms.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 110vh;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    background-color: rgba(0, 0, 0, 0.547);
    color: white;
    padding: 50px 20px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.error {
    text-wrap: pretty;
    text-align: center;
    font-weight: bold;
    width: 300px;
}


.login a {
    color: white;
}