body {
    margin: auto;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.Nav_derecha {
    display: flex;
    align-items: center;
}

.imagen img {
    border-radius: 50%;
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.Nav_derecha a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.Nav_izquierda a {
    color: white;
    text-decoration: none;
}

.Nav_derecha a:hover,
.Nav_izquierda a:hover {
    color: #ccc;
}


section.welcome {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
