<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <header id="header">
        <div class="navbar">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo" id="logo">
            </a>
            <ul>
                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
                    <li><a href="{{ url_for('register') }}">Registrarse</a></li>
                {%endif%}
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <main id="content"> 
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <div class="caja">
            <h3>Informacion de contacto:</h3>
            <a href="numero">Numero : +66 123 45 67 89</a>
            <a href="correo">Correo : AtomicGYM@gmail.com</a>
        </div>
        <div class="creditos"> Gimnasio Atómico / Todos los derechos reservados</div>
    </footer>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
</body>
</html>