<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimnasio Atomico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="Nav_derecha">
                <div class="imagen">
                    <img src="{{ url_for('static', filename='img/Captura.PNG') }}"alt="Logo">
                </div>
                <a href="">Inicio</a>
            </div>
            <div class="Nav_izquierda">
                <a href="{{ url_for('register') }}">Registro</a>
                <a href="iniciar">Inicio de Sesión</a>
                <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
            </div>
        </nav>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <div class="Contenedor ">

            <div class="caja">
                <h3>Referencia:</h3>
                <a href="inicio">Inicio</a>
                <a href="{{ url_for('register') }}">Registro</a>
                <a href="login">Inicio Sesion</a>
                <a href="{{ url_for('logout') }}">Cerrar Sesion</a>
            </div>
            
            <div class="caja">
                <h3>Informacion de contacto:</h3>
                <a href="numero">Numero : +66 123 45 67 89</a>
                <a href="correo">Correo : AtomicGYM@gmail.com</a>
            </div>
        </div>
        
        <div class="creditos"> Gimnasio Atómico / Todos los derechos reservados</div>

    </footer>
</body>
</html> 