{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/login-signup.css') }}"> {% endblock %}
{% block content %}
  <h1>Iniciar Sesión</h1>
  <form action="" method="post">
    {{ form.csrf_token }}
    {{ form.email(placeholder='Email') }}
    {{ form.password(placeholder='Contraseña') }}
    {{ form.submit }}
  </form>
  <p class="registrarse">
    ¿No tienes una cuenta? 
    <a href="{{ url_for('index') }}">Registrarse</a>
  </p>
{% endblock %}