<!-- signup_form.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
  </head>
  <body>
    <h1>Registrarse</h1>
    <form method="POST" action="{{ url_for('registrar') }}">
      {{ form.csrf_token }}
      <div>
        {{ form.usuario.label }} {{ form.usuario(size=32) }} {% for error in
        form.usuario.errors %}
        <span style="color: red">{{ error }}</span>
        {% endfor %}
      </div>
      <div>
        {{ form.password.label }} {{ form.password(size=32) }} {% for error in
        form.password.errors %}
        <span style="color: red">{{ error }}</span>
        {% endfor %}
      </div>
      <div>
        <button type="submit">Registrarse</button>
      </div>
    </form>
  </body>
</html>
